:root{
    --iris-color: #4D5AE5;
    --ocean-color: #404BBF;
    --navy-blue-color: #2E2F42;
    --slate-color: #434455;
    --light-slate-color: #8E8F99;
    --cornflower-color: #E7E9FC;
    --cloud-color: #F4F4FD;
    --grey-color: #2E2F42;
    --white-color: #ffffff;
}
body {
    font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/*-------------------------HEADER--------------------------*/


.logo{
    font-family: 'Raleway', sans-serif;
    color: var(--iris-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;          
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.span {
    color: var(--grey-color);
}

.adress-items{
    font-style: normal;
}

.link-menu{
    color: var(--grey-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em
}

.link-menu:hover,
.link-menu:focus {                                                              
    color: var(--ocean-color);
}

.adress{
    color: var(--slate-color);
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: 0.02em
}

.adress:hover,
.adress:focus{   
    color: var(--ocean-color);
}

/*-------------------------PAGE--------------------------*/

.page {
    background: var(--grey-color);
}

.title {
    font-weight: 700;
    color: var(--white-color);
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center
}

.button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background: var(--iris-color);
    color: var(--white-color);
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.button:hover,
.button:focus { 
    background: var(--ocean-color);
    color: var(--white-color);
}

/*-------------------------SECTION--------------------------*/

.section {}

.section-list {}

.section-item {}

.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--grey-color);
}

.section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}

/*-------------------------MENU--------------------------*/

.menu {}

.menu-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--grey-color);
}

.menu-img{}

/*-------------------------LIST_TEAM--------------------------*/

.list-team {}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--grey-color);
}

.team-desc {}

.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--grey-color);
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}

/*-------------------------BUTTOM_ITEMS--------------------------*/
.main{}

.section-main {}

.button-items {}

.button-menu {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris-color);
    cursor: pointer;
    background: #F4F4FD;;
}

.button-menu:hover,
.button-menu:focus {
    background: var(--ocean-color);
    color: var(--white-color);
    ;
}

/*-------------------------ROW--------------------------*/


.portfolio-items {}

.project-card {
text-decoration: none
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--grey-color);
}

.potfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}


/*-------------------------FOOTER--------------------------*/

.footer {
    background: var(--grey-color);
}

.logo-footer{
    font-family: 'Raleway', sans-serif;
    color: var(--iris-color);
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.span_footer {
    color: var(--cloud-color);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cornflower-color);
}